// font
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// reset
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
html {
    font-family: 'Roboto',
    sans-serif
}
input, button {
    font-family: 'Roboto',
    sans-serif
}
button {
    cursor: pointer;
}
//basics
.container {
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
